
# Usage: pip install -r requirements.txt

# Base Dependencies
numpy==1.0.0
pandas==2.2.0
matplotlib==3.10.3
seaborn==0.13.0
scikit-learn==1.7.0
scipy==1.11.0
plotly==5.17.0

# Machine Learning & Deep Learning
torch==2.1.0
keras==2.15.0
joblib==1.4.0
openml==0.13.0

# Extras for Interactive Notebooks
ipython==8.15.0
jupyterlab==4.1.0

# Gradio for UI
gradio==4.1.0

# Networking & Requests
requests==2.32.0
